body {
  background-color: blanchedalmond;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.container {
  max-width: 1500px;
  border-radius: 15px;
}
.header {
  width: 100%;
}
